body {
    font-family: "Inter", sans-serif;
    background: #f2f4f7;
    margin: 0;
}

nav {
    width: 100%;
    height: 70px;
    background: #6C63FF;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #cfcaff;
}

.page {
    display: none;
    padding-top: 100px;
    min-height: 100vh;
}

.page.active {
    display: block;
}

#dashboardPage {
    text-align: center;
}


.container {
    max-width: 750px;
    margin: auto;
    background: #fff;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.08);
}


.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-header img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #6C63FF;
    margin-right: 20px;
}

.section {
    margin: 22px 0;
    padding: 18px;
    border-radius: 15px;
    background: #fafafa;
    border: 1px solid #ddd;
}

.section h3 {
    margin-top: 0;
    font-size: 20px;
}

button {
    padding: 10px 16px;
    background: #6C63FF;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #574fe6;
}